// -----------------------------------------------------------------------------
// This file contains all styles related to the pagination component.
// -----------------------------------------------------------------------------

.pagination {
  inline-size: 100%;
  margin-block: 3rem;
}

.pagination ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  justify-content: center;
}

.pagination li {
  margin-inline-start: 0.5rem;
}

.pagination a {
  align-items: center;
  background-color: var(--page-color);
  block-size: var(--space-lg);
  border-radius: 50%;
  display: flex;
  inline-size: var(--space-lg);
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;

  .pagination-icon {
    display: flex;
  }

  &:hover {
    background-color: var(--pagination-hover-bg);
  }

  &:focus {
    box-shadow: 0 0 0 var(--space-xxs) var(--pagination-boxshadow);
    outline: none;
  }

  &:active,
  &[aria-current="page"] {
    background-color: var(--pagination-boxshadow);
    box-shadow: 0 0 0 var(--space-xxs) var(--pagination-boxshadow);
    color: var(--color-white);
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 0 var(--space-xxs) var(--pagination-active-focus-bg);
    }
  }
}
