// -----------------------------------------------------------------------------
// This file contains all styles related to the placeholder component.
// -----------------------------------------------------------------------------

svg.placeholder {
  background-color: var(--color-cream-95);
  border-end-start-radius: var(--radius-lg);
  border-inline-start: var(--space-lg) solid var(--page-color);
  border-start-start-radius: var(--radius-lg);
  inline-size: auto;
  max-inline-size: var(--width);

  rect {
    fill: none;
  }
}
