// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home article .header .prose {
  margin-inline: auto;
}

.home .contributors {
  column-gap: var(--space-xl);
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-inline-size: 75ch;
  row-gap: var(--space-md);

  .contributor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }
}

@media (min-width: 960px) {
  .home .contributors {
    grid-template-columns: repeat(2, 1fr);
  }
}
