                <article class="[ guide ] [ two:three ]">
                    <div class="[ two:three__two ]">
                        <figure>
                            {% if item.data.metaImage %}
                            <img src="{{ item.data.metaImage }}" alt="{{ item.data.metaImageAlt }}" />
                            {% else %}
                            {% svgPlaceholder 440, 303 %}
                            {% endif %}
                        </figure>
                    </div>
                    <div class="[ two:three__three ] [ flow ]">
                    <h2>{{ item.data.title }}</h2>
                        <p class="[ metadata ]">Posted <time datetime="{{ item.date | isoDate }}" class="dt-published">{{ item.date | formatDate }}</time></p>
                        <p><a href="{{ item.url }}" rel="external">Read more<span class="[ visually-hidden ]"> of &ldquo;{{ item.data.title }}&rdquo;</span></a></p>
                    </div>
                </article>
