{% extends "layouts/base.njk" %}

{% set bodyClass = "guide" %}

{% if category == "planning" %}
    {% set headerBg = "orange-75" %}
{% elif category == "doing" %}
    {% set headerBg = "yellow-75" %}
{% elif category == "reflecting" %}
    {% set headerBg = "green-55" %}
{% endif %}

{% block pageHeader %}
    <div class="spacer"></div>
    <div>
        <h1>{{ title }}</h1>
    </div>
{% endblock %}

{% block content %}
  <div class="[ wrapper ] [ has-sidebar ]">
    <div class="[ sidebar ] [ bg bg--cream-95 ]">
        <div class="[ callout ] [ flow ] [ flow-lg ]">
            <h2>Overview</h2>
            {% if overviewSection %}
            {% renderString overviewSection, "md" %}
            {% endif %}
        </div>
    </div>
    <div class="[ prose ]">
        {{ content | safe }}
        {% if exampleSection %}
        <div class="[ flow ] [ bg bg--cream-95 ] [ examples ]">
            <h2>Example</h2>
        {% renderString exampleSection, "md" %}
        </div>
        {% endif %}
        {% if supportiveMaterials %}
        <div class="[ supportive-materials ] [ flow ]">
        <h2>Supportive Materials</h2>
        {% for item in supportiveMaterials %}
        <p><span>{{ item.label }}</span> <a {% if item.type == 'file' %}download {% endif %}href="{{ item.link }}"><span class="underline">{{ 'Download' if item.type == 'file' else 'View' }}</span> <span class="visually-hidden">{{ item.label }}</span> {% if item.type == 'file' %}{% include "svg/download.svg" %}{% else %}{% include "svg/external.svg" %}{% endif %}</a></p>
        {% endfor %}
        </div>
        {% endif %}

        {% include 'partials/components/pagination.njk' %}
    </div>
  </div>
{% endblock %}
